<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <heard class="cabecalho">
        <img class="logo" src="#" alt="logo fotografia">
            <nav class="menu">
                <ul class="menu__lista">
                    <li class="menu__item"><a class="menu__link" href="#">Inicio</a></li>
                    <li class="menu__item"><a class="menu_-link" href="#">Sobre</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Projetos</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
                </ul>
            </nav>
    </heard>
</head>

<body>

</body>
</html>